<h1>Simple CMS </h1>
<!-- <a href="/nani/hello">This is Link 1</a><br>
<!-  <%= link_to('This is Link 2', {:action =>'hello'}) %> -->
<!--Create URL_parameters -->
<%= link_to('This is Link 2', {:action =>'hello', :page => 'ajvneuifh', :id => 'kdimvjvjsdk'}) %>